.about {
    background: $background;
    .container {
        width: 100%;
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        // flex-wrap: wrap;
        &__item {
            .item__title {
                font-family: $title-font;
            }
            .item__text {
                font-size: $font-size;
            }
        }
    }
}