    #about {
        padding-top: $padding-l;
        .container {
            @include flex-box(flex-start,flex,center);
            @include lg {
                justify-content: space-between;
            }
            flex-wrap: wrap;
            &__item {
                padding: 0 $padding-l;
                @include md {
                    padding: 0;
                }
                .item__img {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            &__item--left {
                @include md {
                    flex: 0 0 600px;
                }
                .item__text {
                    margin-bottom: $margin-m;
                }
            }
            &__item--right {
                @include md {
                    flex: 0 0 300px;
                }
            }
            .item__title-sub {
                margin-bottom: $margin-s;
            }
        }
    }