    #about {
        .container {
            display: flex;
            &__item {
                flex: 1;
                .item__title-skills {
                    color: $secondary;
                    display: block;
                    margin-bottom: 5px;
                    font-family: $title-font;
                    font-weight: 700;
                }
                .item__text {
                    margin-bottom: 10px;
                }
                .item__img {
                    width: 100%;
                    max-width: 300px;
                }
            }
            &__item--left {
                flex: 2;
            }
            &__item--right {
                text-align: right;
            }
        }
    }