.footer {
    background: $footer;
    margin-top: auto;
    &__sns-list {
        @include flex-box(center,flex,center);
        padding: $padding-l 0;
    }
    &__sns-icon {
        font-size: $footer-font-size;
        padding: 0 $padding-m;
        a {
            color: $white;
            &:hover {
                color: $secondary;
            }
        }
    }
    &__text {
        color: $white;
        font-family: $title-font;
        text-align: center;
        padding-bottom: $padding-m;
    }
}