html {
  body {
    font-family: $font;
    color: $primary;
    background: $background;
   }
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
    .container {
        @include center-container;
    }
    #about, #contact, #intro {
        .item__title {
            font-family: $title-font;
            font-size: $title-font-size;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .item__text {
            font-size: $font-size;
            line-height: 1.7;
            margin-bottom: 10px;
        }
        .item__title-sub {
            color: $secondary;
            display: block;
            margin-bottom: 5px;
            font-family: $title-font;
            font-weight: 700;
        }
    }
}