.header {
    background: $background;
    padding: 10px 0;
    .container {
        // display: block;
        // text-align: center;
        @include flex-box(center,flex,space-between);
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
    }
    // &__logo {
    //     margin-right: auto;
    // }
    &__logo-link {
        color: $primary;
        text-decoration: none;
        font-family: 'Petit Formal Script', cursive;
    }
    &__nav-link {
        color: $primary;
        display: inline-block;
        font-family: $title-font;
        position: relative;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &::after {
            position: absolute;
            bottom: -6px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: $secondary;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: transform .3s;
        }
        &:hover::after {
            transform: scale(1, 1);
        }
    }
}