#intro {
    padding: $padding-l 0;
    .container {
        @include flex-box(center,flex,center);
        flex-wrap: wrap;
        &__item {
            flex: 0 0 320px;
            margin: $margin-m 0;
            @include md {
                flex: 0 0 480px;
                margin: 0;
            }
            .item__title-sub {
                margin-bottom: $margin-s;
            }
            .item__img {
                width: 100%;
                max-width: 480px;
            }
        }
        &__item--left {
            order: 2;
            @include md {
                order: 1;
            }
        }
        &__item--right {
            order: 1;
            @include md {
                order: 2;
            }
        }
    }
}