#intro {
    .container {
        @include flex-box(center,flex,center);
        
        flex-wrap: wrap;
        &__item {
            flex: 0 0 320px;
            padding: 0 10px;
            @include sm {
                padding: 0;
            }
            @include md {
                flex: 0 0 495px;
            }
            .item__text {
                margin-bottom: 10px;
            }
            .item__img {
                width: 100%;
                max-width: 500px;
            }
        }
        &__item--left {
            order: 2;
            @include md {
                order: 1;
            }
        }
        &__item--right {
            order: 1;
            @include md {
                order: 2;
            }
        }
    }
}