#intro {
    margin: 30px 0;
    .container {
        @include flex-box(center,flex,center);
        flex-wrap: wrap;
        &__item {
            flex: 0 0 320px;
            margin: 10px 0;
            @include md {
                flex: 0 0 495px;
                margin: 0;
            }
            .item__title-sub {
                font-size: 1.5rem;
            }
            .item__img {
                width: 100%;
                max-width: 495px;
            }
        }
        &__item--left {
            order: 2;
            @include md {
                order: 1;
            }
        }
        &__item--right {
            order: 1;
            @include md {
                order: 2;
            }
        }
    }
}