#work-detail {
    padding-top: $padding-l;
    .container {
        &__item {
            // flex: 0 0 320px;
            margin-bottom: $margin-l;
            padding: 0 $padding-l;
            @include lg {
                    padding: 0;
            }
            .item {
                &__title {
                    margin-bottom: $margin-m;
                }
                &__img {
                    width: 100%;
                    max-width: 990px;
                    margin-bottom: $margin-m;
                }
                &__text {
                    margin-bottom: $margin-m;
                }
                &__title-sub {
                    margin-bottom: $margin-s;
                }
                &__btn {
                    display: inline-block;
                    padding: 10px 15px;
                    background: $secondary;
                    border-radius: 3px;
                }
                &__link {
                    color: $white;
                    font-family: $title-font;
                    text-decoration: none;
                }
            }
        }
    }
    }