#work-detail {
    padding-top: $padding-l;
    @include fadeInBottomTop;
    animation: fadeInBottomTop .8s ease-in-out;
    .container {
        &__item {
            margin-bottom: $margin-l;
            padding: 0 $padding-l;
            @include lg {
                    padding: 0;
            }
            .item {
                &__title {
                    margin-bottom: $margin-m;
                }
                &__img {
                    width: 100%;
                    max-width: 990px;
                    margin-bottom: $margin-m;
                }
                &__text {
                    margin-bottom: $margin-m;
                }
                &__title-sub {
                    margin-bottom: $margin-s;
                    display: inline-block;
                    vertical-align: middle;
                }
                &__language {
                    margin-left: $margin-m;
                    background: $white;
                    border: 1px solid $primary;
                    border-radius: 3px;
                    padding: $padding-s;
                    font-size: $btn-font-size;
                    cursor: pointer;
                    color: $primary;
                    transition: 0.3s;
                    &:focus {
                        outline: 0;
                    }
                    &:hover {
                        background: $primary;
                        color: $white;
                    }
                }
                &__btn {
                    display: inline-block;
                    padding: 10px 15px;
                    background: $secondary;
                    border: 1px solid $secondary;
                    border-radius: 3px;
                    transition: 0.3s;
                    &:hover {
                        background: $white;
                        color: $secondary;
                    }
                }
                &__link {
                    color: $white;
                    display: block;
                    font-family: $title-font;
                    margin-bottom: $margin-m;
                    text-decoration: none;
                }
            }
        }
    }
    }